.section2li_content_div_divtext {
  margin-top: 12px;
}
.section2li_content_div_divtext > div {
  display: flex;
}
.section2li_content_div_divtext_span1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  border: 1px solid;
  border-radius: 2px;
  border-color: #1c1c1c;
  background-color: #1c1c1c;
  margin-right: 5px;
  color: #fff;
}
.section2li_content_div_divtext_span1 svg {
  margin-left: 4px;
}
.section2li_content_div_divtext_span1 > span {
  font-size: 11px;
  font-weight: 700;
  line-height: normal;
  padding: 0 6px;
}
.section2li_content_div_divtext_span2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  border: 1px solid;
  border-radius: 2px;
  color: #a149e4;
  border-color: #a149e4;
}
.section2li_content_div_divtext_span2 > span {
  font-size: 11px;
  font-weight: 700;
  line-height: normal;
  padding: 0 6px;
}
.section2li_content_div_divtext > h3 {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #333;
}
.section2li_content_div_divtext > p {
  margin-top: 3px;
  font-size: 13px;
  font-weight: 500;
  color: #aaa;
}

.Item_EventItem__LW96Y {
  width: 100%;
  display: inline-block;
}
.Thumbnail_Thumbnail__eu8A_ {
  position: relative;
  height: auto;
  padding-bottom: 52.3%;
  padding-left: 0;
}
.Thumbnail_Thumbnail__image__bP7ZG {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 4px;
  object-fit: cover;
  outline: 1px solid rgba(0, 0, 0, 0.05);
  outline-offset: -1;
}
