footer{
    padding: 18px 0 65px;
    background-color: #fff;
    border-top: 1px solid #ececec;
}  

.footer_div1{
    width: 90%;
    max-width: 1060px;
    margin: 0 auto 18px;
    display: flex;
}
.footer_div1_div1{
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.footer_div1_div1_logo{
    margin-right: 50px;
}
.footer_div1_div1_text{
    display: flex;
}
.footer_div1_div1_text a {
    font-size: 15px;
    color: #3a3a3a;
    font-weight: 500;
    line-height: 2.6;
    margin-right: 45px;
}
.footer_div1_div2{
    display: flex;
    line-height: 2.6;
}
.footer_div1_div2 img{
    margin-left: 14px;
}


.footer_div2{
    width: 90%;
    max-width: 1060px;
    margin: 0 auto 18px;
    display: flex;
    border-top: 1px solid #ececec;
    padding-top: 25px;
}
.footer_div2 p{
    float: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6666666667em;
    color: #767676;
    width: calc(100% - 290px);
    margin-right: 40px;
}
.footer_div2_lan{
    position: relative;
    width: 250px;
    height: 36px;
    float: left;
}
.footer_div2_lan img{
    position: absolute;
    left: 15px;
    top: 55%;
    transform: translateY(-50%);
    width: 24px;
    height: 17px;
}
.footer_div2_lan select{
    width: 100%;
    height: 40px;
    background: #f2f4f7;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    line-height: 2.1;
    color: #717171;
    padding: 0 45px;
    appearance: none;
    font-weight: 500;
    font-family: inherit;
}