.header_ {
  position: fixed;
  padding-right: initial;
  width: 100%;
  top: 0;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
  z-index: 800;
}
.header_d {
  position: relative;
  max-width: 1060px;
  height: 50px;
}
.header_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.header_div_ {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_div_logo {
  display: flex;
}

.header_div_logo button {
  margin-top: -2px;
  margin-right: 15px;
}
.header_div_logo > button > img {
  width: 17px;
  height: 14px;
  object-fit: contain;
}
.header_div_logo > a > i {
  font-size: 17px;
}
.header_div_ > button[id="gnbSignupBtn"] {
  display: none;
  color: #36f;
  font-size: 14px;
  line-height: 32px;
  height: 34px;
  border: 1px solid #36f;
  border-radius: 17px;
  padding: 0 14px;
}
@media (min-width: 1200px) {
  .header_d {
    width: 87.72%;
    margin: 0 auto;
    height: 50px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header_d {
    width: 90%;
    margin: 0 auto;
    height: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header_d {
    width: 90%;
    margin: 0 auto;
    height: 110px;
  }
  .header_div_ {
    height: 60px;
    width: 100%;
    padding: 15px 0;
  }
  .header_div_ > button[id="gnbSignupBtn"] {
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .header_d {
    height: 110px;
  }
  .header_div_ {
    height: 60px;
    width: 100%;
    padding: 15px 20px;
  }
  .header_div_ > button[id="gnbSignupBtn"] {
    display: inline-block;
  }
}

.header_div_menu {
  height: inherit;
  text-align: center;
  margin: 0;
}
.header_div_menu .xsOnly {
  display: none;
}
.header_div_menu li.xsHomeButton a {
  padding-left: 20px;
}
.header_div_menu li {
  height: inherit;
  display: inline-block;
}
.header_div_menu li:after {
  height: 100%;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.header_div_menu li:hover {
  border-bottom: 2px solid rgb(207, 204, 204);
}
.header_div_menu li a {
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 15px;
  display: inline-block;
}
.header_div_menu li a em {
  position: absolute;
  top: 10px;
  right: -5px;
  pointer-events: none;
  font-style: normal;
}
@media (min-width: 992px) and (max-width: 1100px) {
  .header_div_menu {
    display: flex;
    flex: 1 1;
    justify-content: space-evenly;
  }
  .header_div_menu li a {
    font-size: 13px;
    padding: 15px 0;
  }
  .header_div_menu li a > em {
    right: -20px;
    top: 9px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header_div_menu {
    justify-content: flex-start;
    margin-right: 30px;
  }
  .header_div_menu li a {
    font-size: 13px;
    padding: 11px 10px 19px;
  }
  .header_div_menu li a > em {
    right: -8px;
    top: 4px;
  }
}
@media (max-width: 767px) {
  .header_div_menu {
    text-align: left;
  }
  .header_div_menu .xsOnly {
    display: inline-block;
  }
  .header_div_menu .smMoreVisible {
    display: none;
  }
  .header_div_menu li a {
    padding: 11px 10px 19px;
  }
}

.header_div_join {
  height: 100%;
  padding: 10px 0;
}
.header_div_join > ul {
  height: 100%;
  margin: 0;
}
.header_div_join > ul li {
  position: relative;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.header_div_join > ul li > * {
  height: 100%;
  padding: 0 5px;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  line-height: 1;
}
.header_div_join > ul li .searchBtn {
  position: relative;
  margin-top: 5px;
}
.header_div_join > ul li .joinBtn {
  margin-right: 6px;
  font-family: Pretendard;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
}
.header_div_join > ul li .notiButton {
  position: relative;
  margin-right: 10px;
  margin-top: 5px;
}
.header_div_join > ul .profileBox {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
}
.header_div_join > ul li .profileButton {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: top;
  padding: 0;
  margin-right: 11px;
}
.header_div_join > ul li .profileButton .avatarBorder {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #e1e2e3;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.header_div_join > ul li .profileButton .avatarBorder.showMenuPopover {
  border: 1px solid #36f;
}
.header_div_join > ul li .profileButton .avatarBorder > div {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.header_div_join > ul .leftDivision {
  display: inline-flex;
}
.header_div_join > ul .leftDivision:before {
  display: block;
  content: "";
  width: 1px;
  height: 10px;
  background-color: #e1e2e3;
  margin: auto 10px;
}
.header_div_join > ul li a {
  display: inline-block;
  vertical-align: bottom;
}
.header_div_join > ul li .dashboardBtn {
  font-size: 13px;
  color: #666;
  line-height: 30px;
  height: 30px;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 0 10px;
  margin-left: 15px;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .Aside_visibleMenu__Dki9n {
    display: none !important;
  }
  .header_div_join > ul li > * {
    padding: 0 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header_div_join > ul li .joinBtn {
    margin-right: 0;
    padding: 0 3px;
  }
  .Aside_visibleMenu__Dki9n {
    display: none !important;
  }
  .header_div_join > ul li .notiButton {
    margin-right: 5px;
  }
  .header_div_join > ul li .profileButton {
    margin-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header_div_join > ul li .searchBtn {
    margin: 0;
  }
  .header_div_join > ul li .joinBtn {
    display: none;
  }
  .header_div_join > ul .mdMoreVisible {
    display: none;
  }
  .header_div_join > ul li .menuButton {
    margin-right: 0;
  }
  .header_div_join > ul li .notiButton {
    margin-right: 0px;
  }
  .header_div_join > ul li .profileButton {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .header_div_join {
    padding: 14px 0;
  }
  .header_div_join > ul {
    margin-top: -5px;
  }
  .header_div_join > ul li .searchBtn {
    margin: 0;
  }
  .header_div_join > ul li .joinBtn {
    display: none;
  }
  .header_div_join > ul .mdMoreVisible {
    display: none;
  }
  .header_div_join > ul li .notiButton {
    margin-right: 0px;
  }
  .header_div_join > ul li .profileButton {
    margin-right: 0;
  }
}

.Padding_padding___Nyki {
  height: 50px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .Padding_padding___Nyki,
  .Padding_padding_isLoggedOut__WyPs1 {
    height: 110px;
  }
}
@media (max-width: 767px) {
  .Padding_padding___Nyki,
  .Padding_padding_isLoggedOut__WyPs1 {
    height: 110px;
  }
}

.MenuPopover_menuContainer__vUynN {
  position: absolute;
  top: 100%;
  right: -27px;
  margin-top: 13px;
  padding: 0 !important;
  display: block;
  transform: translate(50%, 8px);
}
.MenuPopover_desktop__QcuKl {
  padding-top: 14px;
}
.MenuPopover_desktop__QcuKl li:nth-child(2):after,
.MenuPopover_desktop__QcuKl li:nth-child(6):after {
  content: "";
  display: block;
  margin: 9px 7px;
  height: 1px;
  background-color: #ececec;
}
.MenuPopover_desktop__QcuKl li:last-child {
  border: 0;
  margin-top: 9px;
  background-color: #f7f7f7;
  overflow: hidden;
  height: 50px !important;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #ececec;
}
.MenuPopover_desktop__QcuKl li a.is-logout,
.MenuPopover_desktop__QcuKl li button.is-logout {
  height: 50px;
  width: 100%;
  color: #333;
}

.Explore_GigsCategoryItem_link__OlnwE {
  width: 160px;
}

.OverlayJobCategory_Container__C3ngs {
  display: none;
}
.OverlayJobCategory_Container__C3ng_on {
  display: block;
}

.Explore_SubCategory__xIcAi {
  display: none;
}
.Explore_SubCategory__xIcAi_on {
  display: block;
}
